<ion-view view-title="Inicio" hide-nav-bar="true" >
  <ion-content has-header="false" class="inicio center">

      <br/> <br/> <br/> <br/> <br/> <br/> <br/>

      <!-- Una fila con el acceso por Facebook-->
      <div class="row">
        <div class="col">
            <a class="button button-clear button-inicio" ng-click="facebookLogin()"> <img src="img/facebook_button_continue.png" /> </a>
        </div>
      </div>


      <!-- Una fila con el acceso a Login y Register-->
      <div class="row">
        <div class="col">
            <a class="button button-clear button-inicio" href="#/registra"> <img src="img/mail_button_register.png" /> </a>
        </div>
      </div>

      <!-- Una fila con el acceso a Login y Register-->
      <div class="row">
        <div class="col">
            <div class="enlace-login"> ¿Tienes una cuenta?
            <a href="#/login"> <bold> Inicia sesion </bold> </a> </div>
        </div>
      </div>

  </ion-content>
</ion-view>