<ion-view hide-nav-bar="true">

    <ion-header-bar class="bar-balanced">
      <button class="button button-clear" ng-click="backProyectos(false)"> Cancelar </button>
      <h1 class="title">Perfil</h1>
      <button class="button button-clear" ng-click="backProyectos(true)"> Guardar </button>
    </ion-header-bar>

    <ion-content class="has-header fondo-blanco">

      <!-- Imagen de perfil -->
      <br/>
      <br/>
      <div ng-click="openSubirFotoModal()">
      	<div class="imagen-circular" id="perfil-imagen-circular"> 
        	<img src="{{imagen}}" /> 
        	<div class="mask"></div> 
      	</div>  
  	  </div>
      <div class="centrar"> <button class="button button-clear button-balanced" ng-click="openSubirFotoModal()"> Cambiar imagen </button> </div>
      <br/>
      <br/>
      <!-- Listado con opciones de configuracion -->
      <ion-list>
  		  <label class="item item-input">
          <span class="input-label">Cambiar nombre</span>
          <input class="input-nombre-perfil" type="text" ng-model="datos.nombre">
        </label>
  		  <ion-item ng-click="openEscogeMonedaModal()">
    		  Cambiar moneda <span class="item-note"> {{preferencias.moneda}} </span>
  		  </ion-item>
  		  <ion-toggle ng-model="preferencias.notificaciones" ng-checked="preferencias.notificaciones">
              Notificaciones
        </ion-toggle>
	    </ion-list>

	    <!-- Boton cerrar sesion -->
      <br/>
      <br/>
      <br/>
	    <div class="margen centrar"> <button class="button button-block button-outline button-assertive" ng-click="logout()"> Cerrar sesión </button> </div>

    </ion-content>
</ion-view>