  <ion-modal-view class="modal my-overlay">
    <ion-header-bar class="bar-clear">
    </ion-header-bar>
    <ion-content class="margen">
      <h4 class="centrar texto-blanco"> Compartir </h4>
      <br/>
      <hr class="linea-blanca-fina">
      <br/>
      <button class="button button-block button-positive" ng-click="shareBy('facebook')"> Facebook </button>
      <button class="button button-block button-calm" ng-click="shareBy('twitter')"> Twitter </button>
      <button class="button button-block button-balanced" ng-click="shareBy('whatsapp')"> Whatsapp </button>
      <button class="button button-block button-outline button-stable" ng-click="shareBy('mail')"> Correo electrónico </button>
    </ion-content>
    <ion-footer-bar class="bar-clear">
        <div class="title"> <button class="button button-icon ion-close-round" ng-click="closeShareModal()"></button> </div>
    </ion-header-bar>
  </ion-modal-view>