.margin {
    margin - left: 9px;
    margin - right: 9px;
}

.icon-actions {
    font-size: 23px;
}


.checkbox {
    vertical-align: middle;
}

.actions {
    float: right;
}

.item-text-wrap {
    overflow: auto;
}

.ion-checkmark-circled.icon-actions.margin
{
	margin-right: 35px;
}


.inicio {
	background: url('../img/backgroundInicio.png')  no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*
 * Botones de inicio
 */
.button-inicio {
    width:100%;
    border: 0; 
}

.button-inicio img {
    width : 80%;
}

.enlace-login {
    text-align: center;
    color:white;
}


.enlace-login a {
    color: blue;
    text-decoration:none;  
}

.enlace-login a:active {
    color: red;
    text-decoration:none;  
}



.tarjeta {
    width : 42%;
}


.fondo-gris {
    background-color: #e1e1e1;
}

.fondo-blanco {
    background-color : #ffffff;
}


#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*------------------------------------------------
**                  LOGIN y REGISTER
**-----------------------------------------------*/
.formulario {
  margin-top : 20px;
  margin-bottom : 20px;
  width : 100%;
  background-color: transparent;
  box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
  -webkit-border-radius: 8px;
}

.campo {
  width : 100%;
  height : 50px;
  padding-left:10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.campo-arriba {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  margin-bottom: 1px;
}

.campo-centro {
  margin-bottom: 1px;
}



.campo-abajo {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}


/*------------------------------------------------
**                  PROYECTOS
**-----------------------------------------------*/

/*DECKGRID CONFIGURATION*/
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '2 .column.column-1-2';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
    padding: 5px;
}

.deckgrid .column-1-2 {
    width: 50%;
}


.pin {
    background: #FEFEFE;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-border-radius: 8px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    margin-bottom: 8px;
    
}

.pin img {
    display: block;
    width: 100%;
    margin:0px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin:5px;
}


@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}


.barra-completado {
    position:relative;
    top:0;
    margin: 0px;
    height: 5px;  
    background: #73bb69;
}




.bar-header{
    height: 50px;
}

.bar-footer{
height:50px;
}


.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}





/*******************************************/
/*          PROYECTOS FOOTER               */
/*******************************************/

.no-padding-footer {
    padding:0px;
}

.no-padding-footer.row {
}

.no-padding-footer img {
    margin : 0px;
    height: 10%;
}

.separacion {
    margin-left: 10px;
}




/*******************************************/
/*                PROYECTO                 */
/*******************************************/

.thumb {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
}

.fondo-oscuro {
  background-color: #ccc;
}

#proyecto-contenido img {
    width : 100%;
    height: 200px;
}

#proyecto-contenido h1 {
    text-align: center;
}

#proyecto-contenido h3 {
    text-align: center;
}

.cortado {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 10; /* number of lines to show */
   line-height: 1.5;        /* fallback */
}

.alto-botones {
    background-color: red;
    height: 5px;
}

.centrar {
    text-align: center;
}

#proyecto-contenido .boton-twitter {
    content: url('../img/tfavicon_on.png');
    height: 50px;
}

#proyecto-contenido .boton-twitter:active {
    content: url('../img/tfavicon_off.png');
    height: 50px;
}

#proyecto-contenido .boton-facebook {
    content: url('../img/ffavicon_on.png');
    height: 50px;
}

#proyecto-contenido .boton-facebook:active {
    content: url('../img/ffavicon_off.png');
    height: 50px;
}

#proyecto-contenido .boton-more {
    content: url('../img/gfavicon_on.png');
    height: 50px;
}

#proyecto-contenido .boton-more:active {
    content: url('../img/gfavicon_off.png');
    height: 50px;
}

#proyecto-contenido .fb-down {
    content: url('../img/ffavicon_off.png');
}


.icono-grande {
    font-size : 30px;
}


.margen {
    margin-left: 20px;
    margin-right: 20px;
}


.texto-gris {
    color: #666;
}

.texto-blanco {
    color: #ffffff;
}

.linea-blanca-fina {
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    border : 0px;
}

.linea-negra-fina {
    color: #333333;
    background-color: #333333;
    height: 1px;
    border : 0px;
}


#proyecto-imagen-circular {
  position: relative;
  width: 102px;
  left: 50%;
}

#proyecto-imagen-circular img {
  position: relative;
  height: 100px;
  left: -50%;
}

.mask {
  top: 0;
  left: -50%;;
  right: 0;
  position: absolute;
  width: 100%;
  height: 102px;
  background: radial-gradient(circle, transparent 41px, white 41px);
}


map {
  display: block;
  width: 100%;
  height: 250px;
}



/*----------------------------------------------
//              DONATE MODAL
//--------------------------------------------*/

.adic-modal .modal {
    min-height: 0 !important;
}

.adic-popup {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
}

.transparente {
  background-color: transparent !important;
}



/*----------------------------------------------
//              MENU STYLE
//--------------------------------------------*/
.fondo-menu {
    background-color: #2c445d;
}


#menu-imagen-circular {
  position: relative;
  width: 62px;
  left: 0;
  margin:10px;
}

#menu-imagen-circular img {
  position: relative;
  height: 60px;
  left: 0;
}

.menu-mask {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 62px;
  background: radial-gradient(circle, transparent 25px, #2c445d 25px);
}


.margen-nombre {
    margin-left: 15px;
    margin-top : 30px; 
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ul {
  margin-top: 30px;
}
#list ul li {
  text-align: center;
  margin: 10px 0px;
}




/*----------------------------------------------
//              PERFIL STYLE
//--------------------------------------------*/

#perfil-imagen-circular {
  position: relative;
  width: 102px;
  left: 50%;
}

#perfil-imagen-circular img {
  position: relative;
  width : 100px;
  height: 100px;
  left: -50%;
}


.input-nombre-perfil {
  color: #ff0000;
  text-align : right;
}



.modal-donate {
  position: absolute;
  padding-top: 40px;
  width: 100% !important;
  left:0;
  height : 70%;
  top : 15%;
  border-style: solid;
  border-width: 4px;
  border-color: #73bb69;
  background-color: rgba(255, 255, 255, 0.9);
}


.popup {
  position: absolute;
  width: 100% !important;
  left:0;
  height : 70%;
  top : 15%;
  border-style: solid;
  border-width: 4px;
  border-color: #73bb69;
}

.popup-body{
  height : 100% !important;
  color:#000 !important;
  font-size:24px !important;
  text-align: center;

}

.popup-head{
  height: 0px !important;

}

.popup-title {
  font: 12px/18px Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 2%;
  width:50%;
  left:25%;
}

.botones-configura-cantidad {
  background-color: red;
}

.button-go {
  position : relative !important;
  float:left;
  width: 35%;
  margin-left: 10%;
  margin-top : 0%;
  border-radius: 8px;
  font: 12px/18px Arial, sans-serif;
  font-size: 20px;
}

.cantidad-donacion {
  position: relative;
  float:left;
  width:100%;
  margin-top : 4%;
  vertical-align: bottom;
  height: 30px;
}

.cantidad-donacion label {
  width:25%;
  left: 35%;
  height: 100%;
  position: relative;
  float: left;
  text-align: center;
  font: 12px/18px Arial, sans-serif;
  font-size: 20px;
}

.cantidad-donacion input {
  position: relative;
  float:left;
  margin-left: 2%;
  vertical-align: bottom;
  width: 70%;
  height: 30px;
  text-align: center;
  font: 12px/18px Arial, sans-serif;
  font-size: 20px;
}

.cantidad-donacion div {
  font-size: 25px;
  display: relative;
  height: 80%;
  line-height: 100%;
  margin-top: 3%;
  vertical-align: middle;
}


.tarjeta-donacion {
  position: relative !important;
  float:left;
  width : 100% !important;
  margin-right: 10px;
  background-color: #bbb;
  text-align: center;
  border-radius: 8px;
}

.texto-pequeno {
  position:relative;
  font-size: 16px;
  margin-top: 20%;
 }

 .alinea.izquierda {
  position: relative;
  text-align: left;
 }

 .alinea-derecha {
  position: relative;
  text-align: right;
 }



  .donate-metodo-pago {
    font: 12px/18px Arial, sans-serif;
    position: relative;
    margin-top:30%;
    height: 50%;
    width: 100%;
  }

  .donate-metodo-pago .donate-botones-pago {
    margin-left: 5%;
    margin-right: 5%;
  }


  .donate-slide-box {
    width: 100%;
  }

  .donate-slide-box ion-slide {
    width: 50%
  }

  .donate-slide-box ion-slide h4 {
    font: 12px/18px Arial, sans-serif;
    font-size: 16px;
  }

