  <ion-modal-view class="modal fondo-gris">
    <ion-header-bar class="bar-balanced">
      <button class="button button-clear icon ion-close-round" ng-click="closeDescripcionModal()"></button>
      <h1 class="title">Descripcion</h1>
    </ion-header-bar>
    <ion-content>
      <div>
          <p class = "padding texto-gris" ng-repeat="parrafo in proyecto.parrafos"> {{parrafo}} </p> <br/>
          <br/>
          <br/>
      </div>
    </ion-content>
  </ion-modal-view>