


<div class="botones-configura-cantidad">
<button class="button-go button  button-balanced" ng-click="clickMore20()"> +0.20 </button>
<button class="button-go button  button-balanced" ng-click="clickGo21()"> go21! </button>
</div>

<div class="cantidad-donacion"> <label> <input type="text" ng-model="donacion.total"> <div>€</div> </label> </div>


<div class="donate-metodo-pago">

      <ion-slide-box class="donate-slide-box" show-pager="false" delegate-handle="slide-pago" disable-scroll="true" >
        
        <ion-slide>
          <h4 class="centrar"> Selecciona metodo de pago </h4>
          <div class="donate-botones-pago">
          <button ng-class="tieneTarjeta ? 'button-balanced' : 'button-stable'" class="button button-block button-outline" ng-click="pagoCon('tarjeta')"> Tarjeta </button>
          <button class="button button-block button-outline button-stable" ng-click="pagoCon('paypal')"> Paypal </button>
          <button class="button button-block button-outline button-stable" ng-click="pagoCon('transferencia')"> Trasferencia </button>
          </div >
        </ion-slide>

        <ion-slide>
          <h4 class="centrar"> Configura tarjeta </h4>
          <!-- <hr class="linea-negra-fina"> -->
          <div class="row donate-contenedor-inputs">
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.numero.parte1" maxLength="4" >
            </div>
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.numero.parte2" ng-maxlength="4">
            </div>
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.numero.parte3" ng-maxlength="4"move-next-on-maxlength>
            </div>
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.numero.parte4" ng-maxlength="4">
            </div>
          </div>
          <br/>
          <div class="row donate-contenedor-inputs">
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.mes" ng-maxlength="4">
            </div>
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.anyo" ng-maxlength="4">
            </div>
            <div class="col alinea-izquierda"> 
              <div class="texto-pequeno">fecha</div>
            </div>
            <div class="col"> 
            </div>
            <div class="col alinea-derecha"> 
              <div class="texto-pequeno">cvc</div>
            </div>
            <div class="col"> 
              <input class="tarjeta-donacion" type="number" ng-model="card.cvc" ng-maxlength="4">
            </div>
          </div>
        </ion-slide>

      </ion-slide-box>
</div>

