  <ion-modal-view class="modal my-overlay">
    <ion-header-bar class="bar-clear">
    </ion-header-bar>
    <ion-content class="margen">
      <h4 class="centrar texto-blanco"> Cambiar moneda </h4>
      <br/>
      <hr class="linea-blanca-fina">
      <br/>
      <button class="button button-block button-outline button-stable" ng-repeat="moneda in monedas" ng-click="cambiarMoneda('{{moneda}}')"> {{moneda}} </button>
    </ion-content>
    <ion-footer-bar class="bar-clear">
        <div class="title"> <button class="button button-icon ion-close-round" ng-click="closeEscogeMonedaModal()"></button> </div>
    </ion-header-bar>
  </ion-modal-view>