<ion-view title="Login" hide-nav-bar="true">

<ion-header-bar class="bar-balanced">
      <button class="button button-icon ion-android-arrow-back" ng-click="backInit()"> </button>
      <h1 class="title">Login</h1>
</ion-header-bar>

<ion-content has-header="true" class="padding fondo-gris" >

   <div class="formulario list">
      <label class="item item-input campo campo-arriba">
         <input placeholder="Correo electronico" type="text" ng-model="user.email">
      </label>
      <label class="item item-input campo campo-abajo">
         <input placeholder="Contraseña" type="password" ng-model="user.password">
      </label>
      
   </div>

   <button class="button button-block button-balanced" ng-click="validateUser()">
      Inicia
   </button>
</ion-content>
</ion-view>