<ion-side-menus>
  <ion-side-menu-content hide-nav-bar="true">

    <ion-header-bar class="bar-balanced">
      <button class="button button-clear icon ion-navicon" ng-click="sacaMenu()"></button>
      <h1 class="title">Proyectos</h1>
      <button class="button button-clear icon" ng-class="{'ion-close-round' : showBuscador , 'ion-ios-search-strong' : !showBuscador}" ng-click="cambiaVisibilidadBuscador()"></button>
    </ion-header-bar>

    <div class="bar bar-subheader item-input-inset" ng-show="showBuscador">       
      <input type="search"
             placeholder="Buscar..."
             ng-model="keyBuscar"
             ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="buscar()"
             class="full-width">          
    </div>

    <ion-content class="has-header has-bottom padding fondo-gris" has-tabs="true" on-refresh="onRefresh()">
      <ion-refresher ng-hide="noData" on-refresh="doRefresh('1')"></ion-refresher>


        <div deckgrid class="deckgrid" source="proyectos">
          <div class="pin a-card">
            <div  ng-click='mother.goProyecto(card._id)'>
              <img ng-src="{{card.imagen}}" /> 
              <div class="barra-completado" style="width: {{100*card.capitalRecaudado / card.presupuesto}}%; transition: width 0.1s; ">&nbsp; </div>
              <p class="texto"> {{card.nombre}} </p>
              <p> {{card.ong}} </p>
            </div>
          </div>
        </div>

    </ion-content>


    <ion-footer-bar class="bar-balanced">
      <img  ng-repeat="rama in ramas" ng-click="filtra(rama.nombre)" ng-src="{{ramaSeleccionada == rama.nombre && rama.imagenSeleccionada || rama.imagenNormal}}" class="separacion"/>
    </ion-footer>

 </ion-side-menu-content>

 <ion-side-menu side="left" class="side-menu" slide-along offset="-50">
        <ion-content class="fondo-menu">
          <div class="row" ng-click="goPerfil()">
            <div class="col col-25">
              <div id="menu-imagen-circular"> 
                <img ng-src="{{usuario.imagen}}" /> 
                <div class="menu-mask"></div> 
              </div> 
            </div>
            <div class="col col-75 margen-nombre texto-blanco">
              {{usuario.nombre}} 
            </div>
          </div>
          <hr class="linea-blanca-fina">
          <div id="list">
            <ul>
              <li class="texto-blanco"><button class="button button-clear" ng-click="ordena('')">Todos</button></li>
              <li class="texto-blanco"><button class="button button-clear" ng-click="ordena('recientes')">Mas recientes</button></li>
              <li class="texto-blanco"><button class="button button-clear" ng-click="ordena('finaliza')">Finalizan primero</button></li>
              <li class="texto-blanco"><button class="button button-clear" ng-click="ordena('completado')">Mas completados</button></li>
              <li class="texto-blanco"><button class="button button-clear" ng-click="ordena('donaciones')">Mas donaciones</button></li>
            </ul>
          </div>

        </ion-content>
 </ion-side-menu>

