   
<ion-view hide-nav-bar="true">

    <ion-header-bar class="bar-balanced">
      <button class="button button-icon ion-android-arrow-back" ng-click="backProyectos(true)"> </button>
      <h1 class="title">Proyecto</h1>
      <button class="button button-icon ion-share" ng-click="openShareModal()"> </button>
    </ion-header-bar>

    <ion-content class="has-header fondo-blanco" id="proyecto-contenido">
       
      <!-- Imagenes del proyecto -->
      <ion-slide-box class="fondo-oscuro">
        <ion-slide ng-repeat="imagen in proyecto.imagenesSlider"> 
          <div class="thumb" style="background-image: url('{{imagen}}');"> </div> 
        </ion-slide>
      </ion-slide-box>
      <h3 class="centrar"> {{proyecto.nombre}} </h3>  <!-- Nombre del proyecto -->
      <!-- Imagen ong -->
      <div id="proyecto-imagen-circular"> 
        <img src="{{proyecto.imagenOng}}" /> 
        <div class="mask"></div> 
      </div>  
      <h4 class="texto-gris centrar"> {{proyecto.ong}} </h4> <!-- ong del proyecto -->
      <!-- Datos del proyecto -->
      <hr class="margen">
      <div class="row texto-gris">
        <div class="col centrar">   
          <p class="centrar"><i class="ion-social-usd-outline icono-grande"> </i> </p>
          <p class="centrar"> {{proyecto.capitalRecaudado}} € </p>
          <p class="centrar"> recuadados </p>
          <button class="button button-block button-outline button-positive" ng-click="shareBy('facebook')"> Facebook </button>
        </div>
        <div class="col centrar"> 
          <p class="centrar"> <i class="ion-ios-people-outline icono-grande"> </i> </p>
          <p class="centrar"> {{proyecto.numeroDonantes}} </p>
          <p class="centrar"> donantes </p> 
          <button class="button button-block button-outline button-calm" ng-click="shareBy('twitter')"> Twitter </button>
        </div>
        <div class="col centrar"> 
          <p class="centrar"><i class="ion-ios-timer-outline icono-grande"> </i> </p>
          <p class="centrar"> {{20}} </p>
          <p class="centrar"> dias </p>
          <button class="button button-block button-outline button-assertive" ng-click="shareBy('pinterest')"> Pinterest </button>
        </div>
      </div>
      <!-- Descripcion del proyecto -->
      <div class="fondo-gris">
          <br/>
          <h4 class="centrar"> Descripción </h4>
          <p class = "padding texto-gris cortado"> {{proyecto.parrafos[0]}} </p> 
          <div class="centrar"> <button class="button button-outline button-balanced" ng-click="openDescripcionModal()"> Mas informacion </button> </div>
          <br/>
          <br/>
      </div>
      <!-- Proyectos similares -->
      <br/>
      <h4 class="centrar"> Proyectos similares </h4>
      <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="similar in proyecto.similares" ng-click="goProyecto(similar)">
          <img src="{{similar.imagen}}">
          <h2>{{similar.nombre}}</h2>
          <p>{{similar.ong}}</p>
        </a>
      </div>
      <!-- Mapa de situacion -->
      <map on-create="mapCreated(map)"></map>
 
    </ion-content>


    <ion-footer-bar class="bar-balanced">
       <h1 class="title"> <button class="button button-full button-clear" ng-click="showPopup()">Donate</button> </h1>
    </ion-footer>


</ion-view>