


.ionic-contrib-frost {
  overflow: hidden;
	position:absolute;
  width: 100%;
	top:0;
	left:0;
	right:0;
	-webkit-filter:blur(10px);
	opacity:1;
  z-index: 10;
}

.my-overlay {
  background-color: #222;
}
